.tTag{
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;

  &:nth-child(n + 2){
    margin-left: 6px;
  }

  &--red{
    color: #EF6A79;
    border: 1px solid #EF6A79;
  }

  &--blue{
    color: #5BA4E8;
    border: 1px solid #5BA4E8;
  }
}
.tBtn{
  width: 50px;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  text-align: center;
  background: #EF6D83;
  color: #fff;
  font-size: 12px;
  border: 0;
}
.tOperator{
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__icon--setting{
    background: transparent url('./Icons/setting.svg') 0 50% /20px 20px no-repeat;
  }

  &__icon--message{
    background: transparent url('./Icons/message.svg') 0 50% /20px 20px no-repeat;
  }
}
